* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}


.landing-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-wrapper {
    display: flex;
    align-items: center;
    width: 70%;
    background-image: url('./imgs/gradient.png');
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    padding: 20px;
}

.intro-text {
    flex: 1;
    margin: 60px;
    text-align: left;
}

.intro {
    font-size: 4vw;
    margin-bottom: 20px;
    padding-bottom: 0;
}

.typer {
    font-size: 2rem;
}

.star-pic{
    width: 50px;
}

.profile-pic {
    width: 30%;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 0px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .content-wrapper {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .profile-pic {
        margin-top: 0;
        width: 70%;
    }

    .content-wrapper {
        width: 90%;
    }

    .intro {
        font-size: 2.5rem;
        margin-top: 0;
    }

    .typer {
        font-size: 2rem;
    }

    .gradient1 {
        width: 100%;
        height: auto;
    }
}

.about-section{
    width:70%;
}
.about-content{
    display: flex;
    align-items: center;
    width:70%;
}

.about-pic{
    width: 200px;
}